<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notes app</title>
</head>
<body>
  <form action="/notes" method="POST">
  <input type="text" placeholder="title" name="note-title">
  <input type="text" placeholder="body" name="note-body">
  <button type="submit">Submit</button>
</form>
</body>
</html>